/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: min(1vw, 20px);
}

/* ------- HELPER FUNCTIONS ------- */
.hide {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fadeOut {
  opacity: 0 !important;
  -o-transition: opacity 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out;
  -moz-transition: opacity 1.25s ease-in-out;
  -webkit-transition: opacity 1.25s ease-in-out;
}

.fadeOutFast {
  opacity: 0;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fadeIn {
  opacity: 1 !important;
  -o-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

.fadeInFast {
  opacity: 1 !important;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fadeOutAnswer {
  opacity: 0.6;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.kill-click {
  pointer-events: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


/* ------- CHANGE VISUALS OF INPUT ------- */

input[type='checkbox'], input[type='checkbox']:focus,
input[type='tel'], input[type='tel']:focus {
  height: 20px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: 4px;
  opacity: 0.8;
}

input[type='checkbox'], input[type='checkbox']:focus {
  width: 20px !important;
  font-size: 2em;
}

input[type='tel'], input[type='tel']:focus {
  width: 35px !important;
  background: none;
  color: white;
  margin: 3px;
  text-align: center;
}

input[type='checkbox']:checked:after {
  content: '\2713';
  color: white;
  position: absolute;
  line-height: 1rem;
  font-size: 1rem;
  padding-left: 0.15rem;
}

.notification {
  position:fixed;
  width:315px;
  top: 5px;
  left:0;
  right:0;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 6px;
  z-index: 10;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-align: center;
}

.slideOut {
  /* top: -85px; */
  /* (fontsize) - (deafult-p-margin) - (box-padding) - (border) - (top) -(some leeway)*/
  top: calc((-1vw * 2) - 2em - 20px - 4px - 5px - 5px)
}

/* ------- THE ACTUAL CSS CONTENT NOW ------- */

#loadingScreen {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  position: fixed;
  z-index: 9999999;
}

#loadingScreen img {
  cursor: pointer;
  max-width: 370px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}

.overlayHelper, #background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.overflow-dots {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trackbar {
  width: 100%;
  margin: 0;
}

.times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1px;
}

.answerOption p {
  margin: 0 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.winnerScreen {
  width: calc(100%);
  height: calc(100% - 1vw - 16px);
  border: 2px white solid;
  border-radius: 7px;
  text-align: center;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.albumImg {
  padding: 5vw;
  width: calc((75vw / 2) - 10vw);
  height: calc((75vw / 2) - 10vw);
  border-radius: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.blurImage {
  -webkit-filter: blur(40px) grayscale(0.4);
          filter: blur(40px) grayscale(0.4);
}

.gameInformation {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.gameInformation p {
  margin: 0;
}

.mediaControl {
  text-align: center;
  padding: 0 5vw;
}

.mediaControl i {
  cursor: pointer;
}

.answerOptions {
  height: 50%;
  padding: 0 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.answerOption {
  width: calc(50% - 1vw - 6px);
  height: calc(50% - 1vw - 16px);
  border: 2px white solid;
  border-radius: 1vw;
  text-align: center;
  cursor: pointer;
}

#closeButton {
  font-size: 1.5em;
  cursor: pointer;
}

.settings {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(199, 96, 121)), to(rgb(53, 97, 126)));
  background: -o-linear-gradient(rgb(199, 96, 121), rgb(53, 97, 126));
  background: linear-gradient(rgb(199, 96, 121), rgb(53, 97, 126));
  position: fixed;
  bottom: 0;
  width: 50%;
  height: 100%;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px 0px 0px 10px 0px #000000c7;
          box-shadow: 0px 0px 10px 0px 0px 0px 10px 0px #000000c7;
}

.settings.close {
  left: -50%;
}

.settings .overlay {
  position: absolute;
  opacity: 0.5;
}

.settings li {
  list-style-type: none;
  padding: 1.5vh 15px 0 15px;
  border-top: 1px solid #7b7b7b8a;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting label {
  font-size: 1.5vw;
  padding-bottom: 10px;
}

.settingDetail {
  opacity: 0.75;
  width: calc(100% - 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customAmountWrapper {
  display: inherit;
}

.correctAnswer {
  width: 100%;
  height: calc(100% - (1vw + 1em + 10px));
  border: 1px white solid;
  border-radius: 12px;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.correctAnswer p {
  margin: 0
}

/* MEDIA QUERIES */
@media (min-width: 426px) {
  .main {
    padding: 5vw;
    padding-left: 0;
    width: calc((75vw / 2) - 10vw);
    height: calc((75vw / 2) - 10vw);
  }

  .mainWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75vh;
    width: 75vw;
    padding: 12.5vh 12.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main div {
    padding: 0;
  }

  .mediaControl i {
    padding: 0 1.5vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 426px) and (max-width: 1280px) {
  body {
    font-size: calc(1.5vw);
  }

  .slideOut {
    top: calc((-1.5vw * 2) - 2em - 20px - 4px - 5px - 5px)
  }

  .mainWrapper {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .main,
  .albumImg {
    width: calc((100vw / 2) - 10vw);
    height: calc((100vw / 2) - 10vw);
  }

  .trackbar {
    width: calc((100vw / 2) - 10vw);
  }

  .mediaControl i {
    padding: 0 1.5vw;
    font-size: 3.5vw;
  }

  .settingDetail {
    font-size: calc(1.5vw - 2px)
  }

  .correctAnswer {
    height: calc(100% - (1.5vw + 1em + 10px));
  }
}

@media (max-width: 425px) {
  body {
    font-size: calc(3.5vw);
  }

  .slideOut {
    top: calc((-3.5vw * 2) - 2em - 20px - 4px - 5px - 5px)
  }

  #loadingScreen img {
    max-width: 50vw;
  }

  /* Dirty Cheat to replace Arrow with X */
  .fa-arrow-left:before {
    content: "\f00d";
  }

  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: calc(100vh - 100vw);
    max-height: none !important;
  }

  .albumImg {
    width: 90vw;
    height: 90vw;
    padding: 5vw;
    border-radius: 10%;
  }

  .trackbar {
    width: 90vw;
    margin: 0 5vw;
  }

  .currentTime, .remainingDuration {
    font-size: calc(3.5vw - 2px);
  }

  .mediaControl i {
    padding: 0 5vw;
    font-size: 7vw;
  }

  .answerOptions {
    height: calc(28vw + 12px + 4vw);
    padding: 0 5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .gameInformation i {
    font-size: calc(3.5vw + 1px);
  }

  .answerOption {
    width: calc(50% - 1vw - 6px);
    height: 14vw;
    border: 0.3vw white solid;
    border-radius: 7px;
  }

  .answerOption p {
    margin: 0 10px;
  }

  .winnerScreen {
    width: calc(100%);
    height: 28vw;
    border: 0.3vw white solid;
    border-radius: 7px;
    text-align: center;
    opacity: 0.5;
  }

  .winnerScreen p {
    margin: 0.5em;
  }

  .settings {
    width: 100%;
  }

  .settings.close {
    bottom: -100%;
    left: 0;
  }

  .setting label {
    font-size: 4vw;
  }

  .correctAnswer {
    border-radius: 6px;
    height: calc(100% - (3.5vw + 1em + 10px));
  }
}

@media (max-height: 625px) and (max-width: 425px) {
  .albumImg {
    width: 60vw;
    height: 60vw;
    padding: 5vw;
    margin: 0 15vw;
  }

  .main {
    height: calc(100% - 70vw);
  }
}
